/*
    Animating for angularjs
    Example: <div ng-view class="slideup"></div>
    http://dfsq.github.io/ngView-animation-effects/app/#/code
    https://www.yearofmoo.com/2013/08/remastered-animation-in-angularjs-1-2.html#example-85
*/
.ani-fade {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.ani-fade.ng-hide {
    opacity: 0;
    transition-duration: 0.2s;
}

.ani-fade.ng-enter,
.ani-fade.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.ani-fade.ng-enter {
    opacity: 0;
}

.ani-fade.ng-enter-active {
    opacity: 1;
}

.ani-fade.ng-leave {
    opacity: 1;
}

.ani-fade.ng-leave-active {
    opacity: 0;
}
